* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  user-select: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-text {
  max-width: 500px;
  text-align: justify;
  font-size: 20px;
}

#close-modal {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#close-modal:hover {
  background-color: #0056b3;
}

#score-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13vh;
}

#score {
  font-size: 40px;
}

#canvas-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#canvas {
  border: 2px solid black;
}

#play-button {
  position: absolute;
  top: 280px;
  padding: 20px 35px;
  font-size: 20px;
  border: 1px solid black;
}

#win-message {
  position: absolute;
  top: 150px;
  font-size: 40px;
}

#new-game-button {
  position: absolute;
  bottom: 150px;
  padding: 20px 35px;
  font-size: 20px;
  border: 1px solid black;
}

#play-button:hover,
#new-game-button:hover {
  background-color: rgb(230, 230, 230);
}

#play-button:active,
#new-game-button:active {
  background-color: rgb(220, 220, 220);
}

.enter-message {
  color: rgb(185, 185, 185);
  font-size: 15px;
  position: absolute;
}

#enter-to-play-message {
  top: 350px;
}

#enter-to-new-game-message {
  bottom: 130px;
}

.hidden {
  display: none;
}

#controls-message-div {
  position: absolute;
  font-size: 25px;
}